<!DOCTYPE html>
<html>
	<head>
		<title>How Fart is That Website? | <%= @title %></title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>
			We have made a breakthrough that will change the the way the web is measured. Trust us, we are scientists! 
			
			After years of experimentation we can finally distill the fart out of anything and measure it. 
			
			In 1993 several of us were traveling across the country in '76 Cadillac Fleetwood Talisman. After consuming breakfast...
	</body>
</html>