<!DOCTYPE html>
<html>
	<head>
		<title>How Fart is That Website? | <%= @title %></title>
	</head>
	<body>
		<h1>How Fart is That Website?</h1> 
		<p>
			How fart is that website?
		</p>
		
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
		
	</body>
</html>